@{
    ViewData["Title"] = "DB";
}

<h1 class="display-4">Робота з базами даних</h1>
<p>
    Бази даних, по відношенню до веб-сервера із сайтом, 
    можна поділити на локальні та віддалені. локальні розміщуються на тому ж ресурсі,
    віддалені - на іншому. Робота з локальними БД простіше налаштовуються і є більш швидкою, 
    але не дає змоги перености сам веб-сервер або публікувати сайт на стороньому хостнигу.
</p>

<p>
    В ASP, як і у .Net поширина робота з БД засобами EF
    Для його налаштування встановлюємо додаткові модулі (NuGet)
</p>
<ul>
    <li>Microsoft.EntityFrameworkCore - ядро фреймфорка</li>
    <li>Microsoft.EntityFrameworkCore.Tools - засоби для командного рядка (міграцції)</li>
    <li>Pomelo.EntityFrameworkCore.MySql - драйвери для роботи з MsSql</li>
</ul>

<h2>
    Конфігурація. 
    Паролі до віддалених БД не можна передавати у відкирті репозиторії. 
    Зокрема, PlanetScale автоматично скасовує пароль, якщо знаходите його у таому.
    Для запобігання цьому створюється окремий файл конфігурації який вилучається з репозиторія

</h2>